.breadcrumbs {
    padding-top: 20px;
}

.breadcrumbs .breadcrumb {
    margin-bottom: 0px;
}

.table tr td:last-child {
    min-width: 80px;
}

ul.error {
    padding-left: 20px;
}

.select2-container--default .select2-results > .select2-results__options {
    height: 600px;
    min-height: 600px;
}