body, html {
    height:100%;
}


.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

section h3.section-subheading {
    margin-bottom: 30px;
}

.nav .dropdown-menu li a {
    color: black;
}

i.win {
    color: green;
}

i.loose {
    color: red;
}

i.draw {
    color: yellow;
}

.team-header-logo img {
    max-height: 300px;
}

.team-header-block {
    background-color: #323232;
    padding: 20px;
    margin-bottom: 40px;
    color: white;
}

.team-header-info table {
    max-width: 300px;
    margin-top: 30px;
}

.team-header-shirt img {
    max-width: 300px;
}

.team-header-logo {
    margin-right: 100px;
}

.player-header-block {
    background-color: #323232;
    padding: 20px;
    color: white;
    text-align: center;
}

.player-header-block h2.section-heading {
    font-size: 30px;
}

.player-header-logo img {
    max-height: 250px;
    max-width: 300px;
    margin-right: 50px;
}

.player-header-info table {
    max-width: 400px;
    margin: 0px auto;
}

.player-team-block {
    max-width: 300px;
    max-height: 200px;
    padding-right: 50px;
}

.player-team-logo {
    height: 30px;
}


.football-bg {
    background-image: url("../../img/football-bg.jpg");
}

.football-bg .team-header-block {
    background-color: rgba(0, 0, 0, 0.75);
}

.football-bg .team-body-block {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px;
}

.football-bg .table >thead > tr > th {
    border-bottom: 1px solid black;
}

.football-bg .table >tbody > tr > td {
    border-top: 1px solid black;
}

.football-bg a {
    color: black;
}

.football-bg a:hover {
    text-decoration: none;
}

.football-bg .nav-tabs {
    border-bottom: 1px solid black;
}

.football-bg .nav-tabs > li.active > a, .nav-tabs > li.active {
    border-color: #000 #000 transparent;
    background-color: rgba(255, 255, 255, 0.6);
}